@import url('./Carousel.css');

a {
    text-decoration: none;
    color: #595959;
}

section {
    position: relative;
}

.container {
    display: flex;
}

.container-app {
    width: 70%;
    padding: 0 2rem;
    margin: 0 auto;
}
.container-side-left {
    width: 15%;
}

.container-side-right {
    width: 15%;
}


.horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vertical-devider {
    width: 1px;
    height: 0.7rem;
    background-color: #595959;
    margin: 0 0.4rem;
}
.horizontal-devider {
    width: 1px;
    height: 0.7rem;
    background-color: #595959;
    margin: 0 0.4rem;
}

.header.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 1rem 0.3rem 1rem;
}

.vertical-padding {
    padding: 15px 0;
}

.logo {
    margin: 0 3rem;
    width: 13rem;
}

.header-inner {
    margin: 0 3rem 0.5rem 0;
}

.link {
    font-size: 0.4rem;
    color: #595959;
    cursor: pointer;
}

#search-top-container {
    margin: 0 1rem;
    width: 18rem;
    height: 1.6rem;
    border: 1px solid #595959;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-top-textfield {
    width: 14rem;
    height: auto;
    outline-style: none;
    border: none;
    display: flex;
    align-self: center;
}

.submit-button {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    outline-style: none;
    border: none;
    background-color: rgba(0,0,0,0);
}

.search-icon {
    width: 1rem;
    height: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    background-color: #6c24ff;
    border-radius: 0.5rem;
}

.navbar a{
    color: #ffffff;
    font-size: 0.75rem;
}

.navbar .vertical-devider {
    background-color: #ffffff;
}

.navbar ul {
    list-style: none;
    margin: 0;
}

.navbar li {
    margin: 0 10px;
}

.detail-container {
    max-width: 70rem;
    padding: 4rem 8rem;
    margin: 0 auto;
    font-size: 0.9rem;
    color: #595959;
}

.detail-product-info {
}

.title {
    font-size: 1.5rem;
    padding: 5px 0;
}

.price {
    font-size: 1.3rem;
    padding: 5px 0;
}

.short-description {
    line-height: 180%;
}

.simple-slider-image {
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
}

.long-description {
    line-height: 150%;
}


/* Slider */

.slider-button {
    border: none;
    width:15px;
    height:25px;
    border-radius: 0.5rem;
    padding: 20px 20px;
    margin: 90px 5px;
    z-index:1;
}

.slider-button:hover {
    background-color: rgba(0,0,0,0.1);
}

/* product container */

.product-container {
    position: relative;
    width: 180px;
    margin: 20px 20px;
    height: 260px;
}

.product-img-container {
    position: relative;
    width: 180px;
    height: 180px;
    text-align: center;
    vertical-align: middle;
}

.product-img-text {
    position: absolute;
    font-size: 15px;
    width: 180px;
    height: 100px;
    padding-top: 80px;
    border-radius: 16px;
    color: rgba(0,0,0,0);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

.product-img-text:hover {
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.product-img {
    width: 180px;
    height: 180px;
    border-radius: 16px;
}

.product-description {
    font-weight: 900;
    margin: 4px 4px;
}

.product-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}
.product-cost {
    font-size: 20px;
}
.product-category {
    font-size: 12px;
    color: #7735ff;
    margin: 5px 0;
    font-family: "IBM Plex Sans KR";
}
/* drag inhibit */
.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* side bar */
.side-bar{
    position: fixed;
    text-align: center;
    top:25%;
    font-size: 12px;
    color:#414141;
    font-weight: 400;
}

.side-bar img {
    width: 70px;
    height: 70px;
}

.side-bar ul {
    list-style: none;
}

.side-bar li {
    padding: 20px 0;
    width: 100px;
    border-bottom: 1px solid #efefef;
}

.side-buttons li:hover {
    color: #000000;
    background-color: #e4e4e4;
    font-weight: 800;
}