@import url('./SimpleSlider.css');
@import url('./MyInfo.css');
@import url('./Posts.css');
@import url('./PostingPage.css');

@font-face {
    src: url("../IBMPlexSansKR-Text.ttf");
    font-family: "IbmPlex";
}

body {
    font-family: "IbmPlex";
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: #414141;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font-size: 0.7rem;
    font-weight: lighter;
    color: #ffffff;
    background: none;
    cursor: pointer;
}

section {
    position: relative;
}

.container {
    width: 70rem;
    padding: 5px 0;
    margin: 0 auto;
}
.horizontal-center {
    display: flex;
    justify-content: center;
}

.horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.horizontal-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-devider {
    width: 1px;
    height: 0.7rem;
    background-color: #595959;
    margin: 0 0.4rem;
}
.horizontal-devider {
    width: 1px;
    height: 0.7rem;
    background-color: #595959;
    margin: 0 0.4rem;
}

.vertical-padding {
    padding: 15px 0;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.vertical-center span {
    font-size: 0.7rem;
    color: #414141;
}

.page-title {
    padding: 3rem 0 1rem 7rem;
    font-size: 2rem;
}

/* general css end */

.container-app {
    width: 100%;
    padding: 0 0rem;
    margin: 0 auto;
    background-color: white;
}

.header.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
}

.logo {
    margin: 20px;
    margin-bottom: 0;
    width: 13rem;
}

.header-inner {
    margin: 0 1rem 6px 0;
}

.link {
    color: #414141;
    cursor: pointer;
}

.cursor-none {
    cursor: default;
}

.purple-button {
    background-color: #7735ff;
    border-radius: 0.5rem;
    color: #ffffff;
    padding: 15px 20px;
    font-weight: lighter;
    margin: 10px;
    cursor: pointer;
}

.small-button {
    width: 30px;
    padding: 0 10px;
    cursor: pointer;
}

#search-top-container {
    margin: 0 1rem;
    width: 18rem;
    height: 1.6rem;
    border: 1px solid #414141;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-top-textfield {
    width: 14rem;
    height: auto;
    border-radius: 1rem;
    outline-style: none;
    border: none;
    display: flex;
    align-self: center;
}
#search-top-textfield:hover {
    background-color: rgba(0,0,0,0.1);
}

.submit-button {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    outline-style: none;
    border: none;
    background-color: rgba(0,0,0,0);
}

.search-icon {
    width: 1rem;
    height: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    background-color: #7735ff;
    border-radius: 0.5rem;
}

.navbar a{
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: lighter;
}

.navbar .vertical-devider {
    background-color: #ffffff;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0 20px;
    list-style: none;
}

.navbar li {
    border-radius: 8px;
    padding: 5px 12px;
    margin: 0 10px;
}

.navbar li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* ProductDetail page */

.detail-container {
    max-width: 70rem;
    padding: 4rem 4rem;
    font-size: 0.9rem;
    color: #414141;
}

.categorize span {
    color: #7735ff;
}

.categorize .product-category {
    font-size: 1.1rem;
}

.title {
    font-size: 2rem;
    padding: 5px 0;
}

.price {
    font-size: 1.6rem;
    padding: 5px 0;
    text-align: end;
}

.short-description {
    line-height: 180%;
}

.product-button-container {
    margin: 15px 0;
    
}

.long-description {
    line-height: 150%;
}

/* dropdown */

.dropdown-content {
    padding-top: 8px;
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #414141;
}
.navbar .dropdown-content a {
    color: #414141;
}

.dropdown-container:hover .dropdown-content{
    display: block;
}

.dropdown-content div {
    font-size: 0.8em;
    padding: 7px 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
}

.dropdown-content div:hover {
    background-color: #e4e4e4;
}
/* Slider */

.slider-button {
    border: none;
    width:15px;
    height:25px;
    border-radius: 0.5rem;
    padding: 20px 20px;
    margin: auto 20px;
    z-index:1;
}

.slider-button:hover {
    background-color: rgba(0,0,0,0.1);
}

/* product container */

.product-container {
    position: relative;
    width: 190px;
    margin: 15px 20px;
    height: 260px;
}

.product-img-container {
    position: relative;
    width: 190px;
    height: 190px;
    text-align: center;
    vertical-align: middle;
}

.product-img-text {
    position: absolute;
    font-size: 15px;
    width: 190px;
    height: 100px;
    padding-top: 90px;
    border-radius: 16px;
    color: rgba(0,0,0,0);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

.product-img-text:hover {
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.product-img {
    width: 190px;
    height: 190px;
    border-radius: 16px;
}

.product-description {
    font-weight: 900;
    margin: 4px 4px;
}

.product-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}
.product-cost {
    font-size: 20px;
}
.product-category {
    font-size: 12px;
    color: #7735ff;
    margin: 5px 0;
    font-family: "IBM Plex Sans KR";
}

/* drag inhibit */
.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* side bar */
.side-bar{
    position: fixed;
    text-align: center;
    top:18%;
    right: 8rem;
    color:#414141;
    font-weight: 400;
}

.side-bar img {
    width: 70px;
    height: 70px;
}

.side-bar ul {
    list-style: none;
}

.side-bar li {
    font-size: 12px;
    padding: 20px 0;
    width: 100px;
    border-bottom: 1px solid #efefef;
    transition:cubic-bezier(0.215, 0.610, 0.355, 1);
}

.side-buttons li:hover {
    color: #000000;
    background-color: #e4e4e4;
    font-weight: 800;
}

/* main-image */
.main-img {
    border-radius: 20px;
    width:200%;
}

/* footer */

footer {
    position:relative;
    padding: 0;
    margin: 0;
    margin-top: 150px;
    width: 100%;
    height: 200px;
    background-color: #7735ff;
    text-align: center;
    bottom:0;
}

footer img {
    margin-top: 70px;
    width: 200px;
}


.not-footer {
    min-height: 786px;
}
