.table-container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container {
    margin: 20px 0;
}

.table-row {
    width: 42rem;
    display: flex;
}

.table-cell {
    height: 2rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 0.5px solid #f4f4f4;
    display: flex;
    justify-content: center;
}

.table-cell > div {
    margin: auto;
}

.field {
    background-color: #fafafa;
    width: 12rem;
}

.data {
    width: 30rem;
}

.small-title-container {
    margin: 10px;
}

.small-title {
    font-size: 1.5rem;
}

.purple-button.edit-button {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 0.7rem;
    padding: 5px;
    width: 50px;
    text-align: center;
}

.purple-button.edit-button.read-mode {
    background-color: #f4f4f4;
    color: #7635ff;
}

.select-field {
    width: 300px;
}

.inner-form-field {
    width: 300px;
}